@inherits PublicAPIsModel




@foreach (string s in categories)
{
    
    <button id=@s  class="btn @((CategoryNameLoaded==s) ? "btn-info" : "btn-outline-info")"  bind="@s" onclick=@(()=>LoadByCategory(@s))> @s    
     </button>
}

@if (CategoryToggleDisabled)
{
   
    
    <hr />
    <TableTemplate Items=@category>
        <TableHeader>
            <th>API</th>
            <th>Description</th>
            <th>Category</th>
            <th>Https</th>
            <th>Cors</th>
            <th>Auth</th>
        </TableHeader>
        <RowTemplate>
            <td> <a href="@context.Link" target="_blank">@context.API </a></td>
            <td>@context.Description</td>
            <td>@context.Category</td>
            <td>@context.HTTPS</td>
            <td>@context.Cors</td>
            <td>@context.Auth</td>
        </RowTemplate>

    </TableTemplate>
    <hr />

    }




